<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centerm.dao.report.SalesInfMapper" >
  <resultMap id="BaseResultMap" type="com.centerm.model.report.SalesInf" >
    <id column="mchnt_cd" property="mchntCd" jdbcType="VARCHAR" />
    <id column="date" property="date" jdbcType="VARCHAR" />
    <id column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="menutp_id" property="menutpId" jdbcType="VARCHAR" />
    <result column="menutp_name" property="menutpName" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="sales" property="sales" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
  </resultMap>
   <sql id="Base_Column_List" >
    mchnt_cd, date, product_id, product_name, sales, amount
  </sql>
  <sql id="Model_Column_List" >
    a.mchnt_cd, a.date, a.product_id, a.product_name, a.sales, a.amount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.centerm.model.report.SalesInf" >
    select 
    <include refid="Base_Column_List" />
    from tbl_bkms_report_sales
    where mchnt_cd = #{mchntCd,jdbcType=VARCHAR}
      and date = #{date,jdbcType=VARCHAR}
      and product_id = #{productId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.centerm.model.report.SalesInf" >
    delete from tbl_bkms_report_sales
    where mchnt_cd = #{mchntCd,jdbcType=VARCHAR}
      and date = #{date,jdbcType=VARCHAR}
      and product_id = #{productId,jdbcType=VARCHAR}
  </delete>
  <select id="query" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select  mchnt_cd, date, product_id, product_name, sum(sales) as sales, sum(amount) amount, menutp_name, status from
	(select
	<include refid="Model_Column_List" />,c.menutp_name, b.status
	from tbl_bkms_report_sales a
	join tbl_bkms_menu_inf b
	on a.product_id = b.product_id
	join tbl_bkms_menu_type_inf c
	on b.menutp_id = c.menutp_id
	<where>
	<if test="productName != null and productName != ''">
		 a.product_name = #{productName}
	</if>
	<if test="sales != null and sales != ''">
		AND a.sales = #{sales}
	</if>
	<if test="mchntCd != null and mchntCd != ''">
		AND a.mchnt_cd = #{mchntCd}
	</if>
	<if test="date != null and date != ''">
		AND a.date = #{date}
	</if>
	<if test="productId != null and productId != ''">
		AND a.product_id = #{productId}
	</if>
	<if test="startDate != null and startDate != ''">
	    AND a.date >= #{startDate}
	</if>
	<if test="endDate != null and endDate != ''">
	    AND a.date &lt;= #{endDate}
    </if>
    <if test="menutpId != null and menutpId != ''">
		AND c.menutp_id = #{menutpId}
	</if>
	</where>
	union
	select
	<include refid="Model_Column_List" />,c.menutp_name, b.status
	from tbl_bkms_report_sales a
	join tbl_bkms_menu_combo_inf b
	on a.product_id = b.product_id
	join tbl_bkms_menu_type_inf c
	on b.menutp_id = c.menutp_id
	<where>
	<if test="productName != null and productName != ''">
		 a.product_name = #{productName}
	</if>
	<if test="sales != null and sales != ''">
		AND a.sales = #{sales}
	</if>
	<if test="mchntCd != null and mchntCd != ''">
		AND a.mchnt_cd = #{mchntCd}
	</if>
	<if test="date != null and date != ''">
		AND a.date = #{date}
	</if>
	<if test="productId != null and productId != ''">
		AND a.product_id = #{productId}
	</if>
	<if test="startDate != null and startDate != ''">
	    AND a.date >= #{startDate}
	</if>
	<if test="endDate != null and endDate != ''">
	    AND a.date &lt;= #{endDate}
    </if>
    <if test="menutpId != null and menutpId != ''">
		AND c.menutp_id = #{menutpId}
	</if>
	</where>
	) as t
	group by product_id
	order by menutp_name, sales desc
</select>
  
   <insert id="insert" parameterType="com.centerm.model.report.SalesInf" >
    insert into tbl_bkms_report_sales (mchnt_cd, date, product_id, 
      product_name, sales, amount
      )
    values (#{mchntCd,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{sales,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.centerm.model.report.SalesInf" >
    insert into tbl_bkms_report_sales
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mchntCd != null" >
        mchnt_cd,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="sales != null" >
        sales,
      </if>
      <if test="amount != null" >
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mchntCd != null" >
        #{mchntCd,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="sales != null" >
        #{sales,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centerm.model.report.SalesInf" >
    update tbl_bkms_report_sales
    <set >
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="sales != null" >
        sales = #{sales,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
    </set>
    where mchnt_cd = #{mchntCd,jdbcType=VARCHAR}
      and date = #{date,jdbcType=VARCHAR}
      and product_id = #{productId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centerm.model.report.SalesInf" >
    update tbl_bkms_report_sales
    set product_name = #{productName,jdbcType=VARCHAR},
      sales = #{sales,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL}
    where mchnt_cd = #{mchntCd,jdbcType=VARCHAR}
      and date = #{date,jdbcType=VARCHAR}
      and product_id = #{productId,jdbcType=VARCHAR}
  </update>
</mapper>