<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centerm.dao.menu.ComboDetailInfMapper" >
  <resultMap id="BaseResultMap" type="com.centerm.model.menu.ComboDetailInf" >
    <id column="combo_id" property="comboId" jdbcType="VARCHAR" />
    <id column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="taste" property="taste" jdbcType="VARCHAR" />
    <result column="specifications" property="specifications" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="attr_cmp" property="attrCmp" jdbcType="VARCHAR" />
     <association property="product" javaType="com.centerm.model.menu.MenuInf">
	    <result column="product_name" property="productName" jdbcType="VARCHAR" />
	    <result column="price" property="price" jdbcType="DECIMAL" />
		<collection property="productAttrTypes" ofType="com.centerm.model.menu.ProductAttrTypeInf">
		    <id column="attr_type_id" property="attrTypeId" jdbcType="INTEGER" />
		    <result column="attr_type_name" property="attrTypeName" jdbcType="VARCHAR" />
		    <collection property="productAttrs" ofType="com.centerm.model.menu.ProductAttrInf">
				<id column="attr_id" property="attrId" jdbcType="INTEGER" />
			    <result column="attr_name" property="attrName" jdbcType="VARCHAR" />
			    <result column="attr_price" property="attrPrice" jdbcType="DECIMAL" />
			</collection>
		</collection>
	</association>
  </resultMap>
  <sql id="Base_Column_List" >
    combo_id, product_id, taste, specifications, num, attr_cmp
  </sql>
  <sql id="Modal_Column_List" >
    a.combo_id, a.product_id, a.taste, a.specifications, a.num, a.attr_cmp, b.product_name, b.price,
    c.attr_type_id, c.attr_type_name, d.attr_id, d.attr_name, d.attr_price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.centerm.model.menu.ComboDetailInf" >
    select 
    <include refid="Base_Column_List" />
    from tbl_bkms_menu_combo_detail_inf
    where combo_id = #{comboId,jdbcType=VARCHAR}
      and product_id = #{productId,jdbcType=VARCHAR}
  </select>
  <select id="findByComboId" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Modal_Column_List" />
    from tbl_bkms_menu_combo_detail_inf a
    join tbl_bkms_menu_inf b
    on a.product_id = b.product_id
    left join tbl_bkms_product_attr_type_inf c
	on b.product_id = c.product_id
	left join tbl_bkms_product_attr_inf d
	on c.attr_type_id = d.attr_type_id
    where combo_id = #{comboId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.centerm.model.menu.ComboDetailInf" >
    delete from tbl_bkms_menu_combo_detail_inf
    where combo_id = #{comboId,jdbcType=VARCHAR}
      and product_id = #{productId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByComboId" parameterType="java.lang.String" >
    delete from tbl_bkms_menu_combo_detail_inf
    where combo_id = #{comboId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.centerm.model.menu.ComboDetailInf" >
    insert into tbl_bkms_menu_combo_detail_inf (combo_id, product_id, taste, 
      specifications, num, attr_cmp
      )
    values (#{comboId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{taste,jdbcType=VARCHAR}, 
      #{specifications,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, #{attrCmp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertbatch" parameterType="java.util.List" >
    insert into tbl_bkms_menu_combo_detail_inf (combo_id, product_id, taste, 
      specifications, num, attr_cmp)
    values
     <foreach collection="list" item="item" index="index" separator="," >
        (#{item.comboId,jdbcType=VARCHAR}, #{item.productId,jdbcType=VARCHAR}, #{item.taste,jdbcType=VARCHAR}, 
      #{item.specifications,jdbcType=VARCHAR}, #{item.num,jdbcType=INTEGER}, #{item.attrCmp,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.centerm.model.menu.ComboDetailInf" >
    insert into tbl_bkms_menu_combo_detail_inf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="comboId != null" >
        combo_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="taste != null" >
        taste,
      </if>
      <if test="specifications != null" >
        specifications,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="attrCmp != null" >
        attr_cmp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="comboId != null" >
        #{comboId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="taste != null" >
        #{taste,jdbcType=VARCHAR},
      </if>
      <if test="specifications != null" >
        #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="attrCmp != null" >
        #{attrCmp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centerm.model.menu.ComboDetailInf" >
    update tbl_bkms_menu_combo_detail_inf
    <set >
      <if test="taste != null" >
        taste = #{taste,jdbcType=VARCHAR},
      </if>
      <if test="specifications != null" >
        specifications = #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="attrCmp != null" >
        attr_cmp = #{attrCmp,jdbcType=VARCHAR},
      </if>
    </set>
    where combo_id = #{comboId,jdbcType=VARCHAR}
      and product_id = #{productId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centerm.model.menu.ComboDetailInf" >
    update tbl_bkms_menu_combo_detail_inf
    set taste = #{taste,jdbcType=VARCHAR},
      specifications = #{specifications,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      attr_cmp = #{attrCmp,jdbcType=VARCHAR}
    where combo_id = #{comboId,jdbcType=VARCHAR}
      and product_id = #{productId,jdbcType=VARCHAR}
  </update>
</mapper>