<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centerm.dao.menu.MenuTypeInfMapper" >
  <resultMap id="BaseResultMap" type="com.centerm.model.menu.MenuTypeInf" >
    <id column="menutp_id" property="menutpId" jdbcType="VARCHAR" />
    <result column="mchnt_cd" property="mchntCd" jdbcType="VARCHAR" />
    <result column="menutp_name" property="menutpName" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="menu_num" property="menuNum" jdbcType="INTEGER" />
  </resultMap>
   <resultMap id="TreeResultMap" type="com.centerm.model.menu.MenuTypeInf" >
    <id column="menutp_id" property="menutpId" jdbcType="VARCHAR" />
    <result column="mchnt_cd" property="mchntCd" jdbcType="VARCHAR" />
    <result column="menutp_name" property="menutpName" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="menu_num" property="menuNum" jdbcType="INTEGER" />
    <collection property="menus" ofType="com.centerm.model.menu.MenuInf">
	    <id column="product_id" property="productId" jdbcType="VARCHAR" />
	    <result column="product_name" property="productName" jdbcType="VARCHAR" />
	    <result column="menutp_id" property="menutpId" jdbcType="VARCHAR" />
	    <result column="menu_mchnt_cd" property="mchntCd" jdbcType="VARCHAR" />
	    <result column="price" property="price" jdbcType="DECIMAL" />
	    <result column="picture_link" property="pictureLink" jdbcType="VARCHAR" />
	    <result column="product_detail" property="productDetail" jdbcType="VARCHAR" />
	    <result column="taste" property="taste" jdbcType="VARCHAR" />
	    <result column="specifications" property="specifications" jdbcType="VARCHAR" />
	    <result column="menu_status" property="status" jdbcType="INTEGER" />
	    <result column="menu_priority" property="priority" jdbcType="INTEGER" />
	    <association property="inventory" javaType="com.centerm.model.menu.InventoryInf">
		    <id property="productId" column="product_id"/>
		    <result property="inventory" column="inventory"/>
		</association>
		<collection property="productAttrTypes" ofType="com.centerm.model.menu.ProductAttrTypeInf">
	    <id column="attr_type_id" property="attrTypeId" jdbcType="INTEGER" />
	    <result column="attr_type_name" property="attrTypeName" jdbcType="VARCHAR" />
	    <collection property="productAttrs" ofType="com.centerm.model.menu.ProductAttrInf">
			<id column="attr_id" property="attrId" jdbcType="INTEGER" />
		    <result column="attr_name" property="attrName" jdbcType="VARCHAR" />
		    <result column="attr_price" property="attrPrice" jdbcType="DECIMAL" />
		</collection>
	</collection>
	</collection>
  </resultMap>
   <select id="tree" resultMap="TreeResultMap" parameterType="map">
	  select
		a.menutp_id, a.mchnt_cd, a.menutp_name, a.status, a.priority,
		b.product_id, b.product_name, c.inventory,
		b.menutp_id, b.mchnt_cd as menu_mchnt_cd, b.price, 
		b.picture_link, b.product_detail, 
		b.taste, b.status as menu_status, b.priority as menu_priority, 
		b.specifications,d.attr_type_id, d.attr_type_name, e.attr_id, e.attr_name, e.attr_price 
	  from tbl_bkms_menu_type_inf a
	  left join tbl_bkms_menu_inf b
	  on a.menutp_id = b.menutp_id
	  join tbl_bkms_product_inventory c
	  on b.product_id = c.product_id
	  left join tbl_bkms_product_attr_type_inf d
	  on b.product_id = d.product_id
	  left join tbl_bkms_product_attr_inf e
	  on d.attr_type_id = e.attr_type_id
	  where b.status = 0
	  and b.mchnt_cd = #{mchntCd}
	  <if test="needCombo != null and needCombo == false">
		AND a.menutp_id not like 'C%'
	  </if>
	  union
	  select
		a.menutp_id, a.mchnt_cd, a.menutp_name, a.status, a.priority,
		b.product_id, b.product_name, c.inventory,
		b.menutp_id, b.mchnt_cd as menu_mchnt_cd, b.price, 
		b.picture_link, b.product_detail, 
		b.taste, b.status as menu_status, b.priority as menu_priority, 
		b.specifications,d.attr_type_id, d.attr_type_name, e.attr_id, e.attr_name, e.attr_price 
	  from tbl_bkms_menu_type_inf a
	  left join tbl_bkms_menu_combo_inf b
	  on a.menutp_id = b.menutp_id
	  join tbl_bkms_product_inventory c
	  on b.product_id = c.product_id
	  left join tbl_bkms_product_attr_type_inf d
	  on b.product_id = d.product_id
	  left join tbl_bkms_product_attr_inf e
	  on d.attr_type_id = e.attr_type_id
	  where b.status = 0
	  and b.mchnt_cd = #{mchntCd}
	  <if test="needCombo != null and needCombo == false">
		AND a.menutp_id not like 'C%'
	  </if>
  </select>
  <sql id="Base_Column_List" >
    menutp_id, mchnt_cd, menutp_name, status, priority
  </sql>
  <select id="query" resultMap="BaseResultMap" parameterType="java.util.Map">
	select
	a.menutp_id, a.mchnt_cd, a.menutp_name, a.status, a.priority,
	COUNT(b.menutp_id) as menu_num
	from tbl_bkms_menu_type_inf a
	left join tbl_bkms_menu_inf b
	on a.menutp_id = b.menutp_id
	AND b.status != -1
	WHERE a.menutp_id not like 'C%'
	<if test="menutpId != null and menutpId != ''">
		AND a.menutp_id = #{menutpId}
	</if>
	<if test="mchntCd != null and mchntCd != ''">
		AND a.mchnt_cd = #{mchntCd}
	</if>
	<if test="menutpName != null and menutpName != ''">
		AND a.menutp_name like '%${menutpName}%'
	</if>
	<if test="status != null and status != '' or status == 0">
		AND a.status = #{status}
	</if>
	<if test="priority != null and priority != ''">
		AND a.priority = #{priority}
	</if>
	GROUP BY a.menutp_id
	order by a.priority
</select>
  <select id="getComboMenutpId" resultType="java.lang.String" parameterType="java.util.Map">
	select menutp_id
	from tbl_bkms_menu_type_inf
	where mchnt_cd = #{mchntCd}
	and menutp_id like 'C%'
</select>
  <select id="queryMaxPriority" resultType="int" parameterType="java.util.Map">
	select IFNULL(MAX(priority),0)
	from tbl_bkms_menu_type_inf
	where mchnt_cd = #{mchntCd}
	and status = 0
</select>
 <select id="isNameExisted" resultType="int" parameterType="List">
	select count(*)
	from tbl_bkms_menu_type_inf
	where mchnt_cd = #{mchntCd}
	and menutp_name = #{menutpName}
	and status = 0
    <if test="menutpId != null and menutpId != ''">
		and menutp_id != #{menutpId}
	</if>
</select>
 <select id="isNamesExisted" resultMap="BaseResultMap" parameterType="java.util.Map">
	select menutp_name,menutp_id
	from tbl_bkms_menu_type_inf
	where mchnt_cd = #{mchntCd}
	and menutp_name in 
	<foreach item="item" index="index" collection="list"
      open="(" separator="," close=")">
        #{item.menutpName}
  	</foreach>
	and status = 0
</select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_bkms_menu_type_inf
    where menutp_id = #{menutpId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_bkms_menu_type_inf
    where menutp_id = #{menutpId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.centerm.model.menu.MenuTypeInf" >
    insert into tbl_bkms_menu_type_inf (menutp_id, mchnt_cd, menutp_name, status,
      priority)
    values (#{menutpId,jdbcType=VARCHAR}, #{mchntCd,jdbcType=VARCHAR}, #{menutpName,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{priority,jdbcType=INTEGER})
  </insert>
  <insert id="insertbatch" parameterType="java.util.List" >
    insert into tbl_bkms_menu_type_inf (menutp_id, mchnt_cd, menutp_name, status,
      priority)
    values
     <foreach collection="list" item="item" index="index" separator="," >
        (#{item.menutpId},#{item.mchntCd},#{item.menutpName},#{item.status},#{item.priority})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.centerm.model.menu.MenuTypeInf" >
    insert into tbl_bkms_menu_type_inf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menutpId != null" >
        menutp_id,
      </if>
      <if test="mchntCd != null" >
        mchnt_cd,
      </if>
      <if test="menutpName != null" >
        menutp_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="priority != null" >
        priority,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menutpId != null" >
        #{menutpId,jdbcType=VARCHAR},
      </if>
      <if test="mchntCd != null" >
        #{mchntCd,jdbcType=VARCHAR},
      </if>
      <if test="menutpName != null" >
        #{menutpName,jdbcType=VARCHAR},
      </if>
       <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centerm.model.menu.MenuTypeInf" >
    update tbl_bkms_menu_type_inf
    <set >
      <if test="mchntCd != null" >
        mchnt_cd = #{mchntCd,jdbcType=VARCHAR},
      </if>
      <if test="menutpName != null" >
        menutp_name = #{menutpName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
    </set>
    where menutp_id = #{menutpId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centerm.model.menu.MenuTypeInf" >
    update tbl_bkms_menu_type_inf
    set mchnt_cd = #{mchntCd,jdbcType=VARCHAR},
      menutp_name = #{menutpName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      priority = #{priority,jdbcType=INTEGER}
    where menutp_id = #{menutpId,jdbcType=VARCHAR}
  </update>
</mapper>