<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centerm.dao.menu.ProductAttrInfMapper" >
  <resultMap id="BaseResultMap" type="com.centerm.model.menu.ProductAttrInf" >
    <id column="attr_id" property="attrId" jdbcType="INTEGER" />
    <result column="attr_type_id" property="attrTypeId" jdbcType="INTEGER" />
    <result column="attr_name" property="attrName" jdbcType="VARCHAR" />
    <result column="attr_price" property="attrPrice" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    attr_id, attr_type_id, attr_name, attr_price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_bkms_product_attr_inf
    where attr_id = #{attrId,jdbcType=INTEGER}
  </select>
   <delete id="deleteByProductId" parameterType="java.lang.String" >
    DELETE FROM tbl_bkms_product_attr_inf
    WHERE attr_type_id in (
    	SELECT attr_type_id FROM tbl_bkms_product_attr_type_inf
    	WHERE product_id = #{productId,jdbcType=INTEGER}
    )
    
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_bkms_product_attr_inf
    where attr_id = #{attrId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.centerm.model.menu.ProductAttrInf">
    insert into tbl_bkms_product_attr_inf (attr_id, attr_type_id, attr_name, 
      attr_price)
    values (#{attrId,jdbcType=INTEGER}, #{attrTypeId,jdbcType=INTEGER}, #{attrName,jdbcType=VARCHAR}, 
      #{attrPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertbatch" parameterType="java.util.List" >
    insert into tbl_bkms_product_attr_inf (attr_type_id, attr_name, attr_price)
    values
     <foreach collection="list" item="item" index="index" separator="," >
        (#{item.attrTypeId,jdbcType=INTEGER}, #{item.attrName,jdbcType=VARCHAR},
        #{item.attrPrice,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.centerm.model.menu.ProductAttrInf" >
    insert into tbl_bkms_product_attr_inf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attrId != null" >
        attr_id,
      </if>
      <if test="attrTypeId != null" >
        attr_type_id,
      </if>
      <if test="attrName != null" >
        attr_name,
      </if>
      <if test="attrPrice != null" >
        attr_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attrId != null" >
        #{attrId,jdbcType=INTEGER},
      </if>
      <if test="attrTypeId != null" >
        #{attrTypeId,jdbcType=INTEGER},
      </if>
      <if test="attrName != null" >
        #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="attrPrice != null" >
        #{attrPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centerm.model.menu.ProductAttrInf" >
    update tbl_bkms_product_attr_inf
    <set >
      <if test="attrTypeId != null" >
        attr_type_id = #{attrTypeId,jdbcType=INTEGER},
      </if>
      <if test="attrName != null" >
        attr_name = #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="attrPrice != null" >
        attr_price = #{attrPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where attr_id = #{attrId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centerm.model.menu.ProductAttrInf" >
    update tbl_bkms_product_attr_inf
    set attr_type_id = #{attrTypeId,jdbcType=INTEGER},
      attr_name = #{attrName,jdbcType=VARCHAR},
      attr_price = #{attrPrice,jdbcType=DECIMAL}
    where attr_id = #{attrId,jdbcType=INTEGER}
  </update>
</mapper>