/****Table area****/
.tablearea{font-size:12px; width:auto!important;margin:0 auto auto 0px;}
.table_info{width:95%; height:auto; margin:0 0 0 5px; }
.table_info tr{height:30px;}

.table_info_input{border-bottom:#666 1px solid; width:100%; margin-top:-1px;}
.table_info_input td{border-top:#cccccc 1px solid; height:36px;}
.tdspace{width:4px; text-align:right;}
.hintspace{width:200px; text-align:left;}
tt{font-size:12px; font-weight:bold; color:#cc0000;}
.btn3_mouseout { 
  BORDER-RIGHT: #2C59AA   1px   solid;   PADDING-RIGHT:   2px;   BORDER-TOP:   #2C59AA   1px   solid;   PADDING-LEFT:   2px;   FONT-SIZE:   12px;   FILTER:   progid:DXImageTransform.Microsoft.Gradient(GradientType=0,   StartColorStr=#ffffff,   EndColorStr=#C3DAF5);   BORDER-LEFT:   #2C59AA   1px   solid;   CURSOR:   hand;   COLOR:   black;   PADDING-TOP:   2px;   BORDER-BOTTOM:   #2C59AA   1px   solid 
} 
.logo {
	background: url('../images/top.jpg') no-repeat;
}


.info {
	background: #FFFEE6;
	color: #8F5700;
	padding: 12px;
}

.tip {
	width: 24px;
	height: 16px;
	float: left;
}
/*ͼƬ*/
img.menuimg{width:200px;height:150px;}
img.promimg{width:150px;height:200px;}
img.logoimg{width:100px;height:100px;}
img.licenseimg{width:300px;height:225px;}
img.iccardimg{width:300px;height:225px;}

.btn-left{ display:inline-block; width:8px; height:12px; background:url(/mgm/images/left-_pre.png) no-repeat;}
.btn-right{ display:inline-block; width:8px; height:12px; background:url(/mgm/images/right-_pre.png) no-repeat;}