<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centerm.dao.sys.ParamInfMapper" >
  <resultMap id="BaseResultMap" type="com.centerm.model.sys.ParamInf" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="mchnt_cd" property="mchntCd" jdbcType="VARCHAR" />
    <result column="param" property="param" jdbcType="VARCHAR" />
    <result column="data" property="data" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, mchnt_cd, param, data
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_bkms_mchnt_param_inf
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_bkms_mchnt_param_inf
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <select id="getParam" resultType="com.centerm.model.sys.ParamInf" parameterType="com.centerm.model.sys.ParamInf">
	select
	<include refid="Base_Column_List" />
	from tbl_bkms_mchnt_param_inf
	WHERE mchnt_cd = #{mchntCd}
	AND param = #{param}
</select>
  <select id="query" resultMap="BaseResultMap" parameterType="java.util.Map">
	select
	<include refid="Base_Column_List" />
	from tbl_bkms_mchnt_param_inf
	<where>
	<if test="uuid != null and uuid != ''">
		 uuid = #{uuid}
	</if>
	<if test="mchntCd != null and mchntCd != ''">
		AND mchnt_cd = #{mchntCd}
	</if>
	<if test="param != null and param != ''">
		AND param = #{param}
	</if>
	<if test="data != null and data != ''">
		AND data = #{data}
	</if>
	</where>
</select>
  <insert id="insert" parameterType="com.centerm.model.sys.ParamInf" >
    insert into tbl_bkms_mchnt_param_inf (uuid, mchnt_cd, param, 
      data)
    values (#{uuid,jdbcType=VARCHAR}, #{mchntCd,jdbcType=VARCHAR}, #{param,jdbcType=VARCHAR}, 
      #{data,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.centerm.model.sys.ParamInf" >
    insert into tbl_bkms_mchnt_param_inf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="mchntCd != null" >
        mchnt_cd,
      </if>
      <if test="param != null" >
        param,
      </if>
      <if test="data != null" >
        data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="mchntCd != null" >
        #{mchntCd,jdbcType=VARCHAR},
      </if>
      <if test="param != null" >
        #{param,jdbcType=VARCHAR},
      </if>
      <if test="data != null" >
        #{data,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centerm.model.sys.ParamInf" >
    update tbl_bkms_mchnt_param_inf
    <set >
      <if test="mchntCd != null" >
        mchnt_cd = #{mchntCd,jdbcType=VARCHAR},
      </if>
      <if test="param != null" >
        param = #{param,jdbcType=VARCHAR},
      </if>
      <if test="data != null" >
        data = #{data,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centerm.model.sys.ParamInf" >
    update tbl_bkms_mchnt_param_inf
    set mchnt_cd = #{mchntCd,jdbcType=VARCHAR},
      param = #{param,jdbcType=VARCHAR},
      data = #{data,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>