<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centerm.dao.sys.RoleInfMapper" >
  <resultMap id="BaseResultMap" type="com.centerm.model.sys.RoleInf" >
    <id column="role_id" property="roleId" jdbcType="VARCHAR" />
    <result column="role_cd" property="roleCd" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="rec_crt_dt" property="recCrtDt" jdbcType="VARCHAR" />
    <result column="rec_upd_dt" property="recUpdDt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    role_id, role_cd, role_name, remark, rec_crt_dt, rec_upd_dt
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_bkms_sys_role_inf
    where role_id = #{roleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_bkms_sys_role_inf
    where role_id = #{roleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.centerm.model.sys.RoleInf" >
    insert into tbl_bkms_sys_role_inf (role_id, role_cd, role_name, 
      remark, rec_crt_dt, rec_upd_dt
      )
    values (#{roleId,jdbcType=VARCHAR}, #{roleCd,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{recCrtDt,jdbcType=VARCHAR}, #{recUpdDt,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.centerm.model.sys.RoleInf" >
    insert into tbl_bkms_sys_role_inf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="roleCd != null" >
        role_cd,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="recCrtDt != null" >
        rec_crt_dt,
      </if>
      <if test="recUpdDt != null" >
        rec_upd_dt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="roleCd != null" >
        #{roleCd,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="recCrtDt != null" >
        #{recCrtDt,jdbcType=VARCHAR},
      </if>
      <if test="recUpdDt != null" >
        #{recUpdDt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centerm.model.sys.RoleInf" >
    update tbl_bkms_sys_role_inf
    <set >
      <if test="roleCd != null" >
        role_cd = #{roleCd,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="recCrtDt != null" >
        rec_crt_dt = #{recCrtDt,jdbcType=VARCHAR},
      </if>
      <if test="recUpdDt != null" >
        rec_upd_dt = #{recUpdDt,jdbcType=VARCHAR},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centerm.model.sys.RoleInf" >
    update tbl_bkms_sys_role_inf
    set role_cd = #{roleCd,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      rec_crt_dt = #{recCrtDt,jdbcType=VARCHAR},
      rec_upd_dt = #{recUpdDt,jdbcType=VARCHAR}
    where role_id = #{roleId,jdbcType=VARCHAR}
  </update>
</mapper>