<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centerm.dao.sys.SysMenuInfMapper" >
  <resultMap id="BaseResultMap" type="com.centerm.model.sys.SysMenuInf" >
    <id column="menu_id" property="menuId" jdbcType="VARCHAR" />
    <result column="menu_nm" property="menuNm" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="menu_seq" property="menuSeq" jdbcType="DECIMAL" />
    <result column="parent_menu_id" property="parentMenuId" jdbcType="VARCHAR" />
    <result column="menu_entry" property="menuEntry" jdbcType="VARCHAR" />
    <result column="rec_crt_dt" property="recCrtDt" jdbcType="VARCHAR" />
    <result column="rec_upd_dt" property="recUpdDt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    menu_id, menu_nm, menu_url, menu_seq, parent_menu_id, menu_entry, rec_crt_dt, rec_upd_dt
  </sql>
  <sql id="Base_Column_List_A" >
    a.menu_id, a.menu_nm, a.menu_url, a.menu_seq, a.parent_menu_id, a.menu_entry, a.rec_crt_dt, a.rec_upd_dt
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_bkms_sys_menu_inf
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </select>
  <select id="selectByRole" resultMap="BaseResultMap" parameterType="com.centerm.model.sys.RoleInf" >
    select 
    <include refid="Base_Column_List_A" />
    from tbl_bkms_sys_menu_inf a
    join tbl_bkms_sys_role_menu b
    on a.menu_id = b.menu_id
    where b.role_id = #{roleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_bkms_sys_menu_inf
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.centerm.model.sys.SysMenuInf" >
    insert into tbl_bkms_sys_menu_inf (menu_id, menu_nm, menu_url, 
      menu_seq, parent_menu_id, menu_entry, 
      rec_crt_dt, rec_upd_dt)
    values (#{menuId,jdbcType=VARCHAR}, #{menuNm,jdbcType=VARCHAR}, #{menuUrl,jdbcType=VARCHAR}, 
      #{menuSeq,jdbcType=DECIMAL}, #{parentMenuId,jdbcType=VARCHAR}, #{menuEntry,jdbcType=VARCHAR}, 
      #{recCrtDt,jdbcType=VARCHAR}, #{recUpdDt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.centerm.model.sys.SysMenuInf" >
    insert into tbl_bkms_sys_menu_inf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="menuNm != null" >
        menu_nm,
      </if>
      <if test="menuUrl != null" >
        menu_url,
      </if>
      <if test="menuSeq != null" >
        menu_seq,
      </if>
      <if test="parentMenuId != null" >
        parent_menu_id,
      </if>
      <if test="menuEntry != null" >
        menu_entry,
      </if>
      <if test="recCrtDt != null" >
        rec_crt_dt,
      </if>
      <if test="recUpdDt != null" >
        rec_upd_dt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="menuNm != null" >
        #{menuNm,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuSeq != null" >
        #{menuSeq,jdbcType=DECIMAL},
      </if>
      <if test="parentMenuId != null" >
        #{parentMenuId,jdbcType=VARCHAR},
      </if>
      <if test="menuEntry != null" >
        #{menuEntry,jdbcType=VARCHAR},
      </if>
      <if test="recCrtDt != null" >
        #{recCrtDt,jdbcType=VARCHAR},
      </if>
      <if test="recUpdDt != null" >
        #{recUpdDt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centerm.model.sys.SysMenuInf" >
    update tbl_bkms_sys_menu_inf
    <set >
      <if test="menuNm != null" >
        menu_nm = #{menuNm,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuSeq != null" >
        menu_seq = #{menuSeq,jdbcType=DECIMAL},
      </if>
      <if test="parentMenuId != null" >
        parent_menu_id = #{parentMenuId,jdbcType=VARCHAR},
      </if>
      <if test="menuEntry != null" >
        menu_entry = #{menuEntry,jdbcType=VARCHAR},
      </if>
      <if test="recCrtDt != null" >
        rec_crt_dt = #{recCrtDt,jdbcType=VARCHAR},
      </if>
      <if test="recUpdDt != null" >
        rec_upd_dt = #{recUpdDt,jdbcType=VARCHAR},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centerm.model.sys.SysMenuInf" >
    update tbl_bkms_sys_menu_inf
    set menu_nm = #{menuNm,jdbcType=VARCHAR},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      menu_seq = #{menuSeq,jdbcType=DECIMAL},
      parent_menu_id = #{parentMenuId,jdbcType=VARCHAR},
      menu_entry = #{menuEntry,jdbcType=VARCHAR},
      rec_crt_dt = #{recCrtDt,jdbcType=VARCHAR},
      rec_upd_dt = #{recUpdDt,jdbcType=VARCHAR}
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </update>
</mapper>