<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centerm.dao.mchnt.FrchseMchntMapInfMapper" >
  <resultMap id="BaseResultMap" type="com.centerm.model.mchnt.FrchseMchntMapInf" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="frchse_cd" property="frchseCd" jdbcType="VARCHAR" />
    <result column="mchnt_cd" property="mchntCd" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="MchntResultMap" type="com.centerm.model.mchnt.MchntInf">
    <id column="mchnt_cd" jdbcType="VARCHAR" property="mchntCd" />
    <result column="mchnt_name" jdbcType="VARCHAR" property="mchntName" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="ID_card" jdbcType="VARCHAR" property="idCard" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mchnt_addr" jdbcType="VARCHAR" property="mchntAddr" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="in_acct" jdbcType="VARCHAR" property="inAcct" />
    <result column="alipay_no" jdbcType="VARCHAR" property="alipayNo" />
    <result column="wechat_no" jdbcType="VARCHAR" property="wechatNo" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="detailed_address" jdbcType="VARCHAR" property="detailedAddress" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, frchse_cd, mchnt_cd, status
  </sql>
  
   <select id="selectFrchseCdByMchntCd" resultType="String" parameterType="java.util.Map" >
    select frchse_cd 
    from tbl_bkms_frchse_mchnt_map
    where mchnt_cd = #{mchntCd,jdbcType=VARCHAR}
  </select>
  <select id="selectMchntByFrchseCd" resultMap="MchntResultMap" parameterType="java.util.Map" >
    select b.mchnt_cd, b.mchnt_name, b.user_id, b.user_name, b.ID_card, b.mobile, b.email, 
    b.mchnt_addr, b.status, b.in_acct, b.alipay_no, b.wechat_no, b.district, b.detailed_address
    from tbl_bkms_frchse_mchnt_map a
    left join tbl_bkms_mchnt_inf b
    on a.mchnt_cd = b.mchnt_cd
    where a.frchse_cd = #{frchseCd,jdbcType=VARCHAR}
    <if test="mchntName != null and mchntName != ''">
		AND mchnt_name like '%${mchntName}%'
	</if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_bkms_frchse_mchnt_map
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_bkms_frchse_mchnt_map
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.centerm.model.mchnt.FrchseMchntMapInf" >
    insert into tbl_bkms_frchse_mchnt_map (uuid, frchse_cd, mchnt_cd, 
      status)
    values (#{uuid,jdbcType=VARCHAR}, #{frchseCd,jdbcType=VARCHAR}, #{mchntCd,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.centerm.model.mchnt.FrchseMchntMapInf" >
    insert into tbl_bkms_frchse_mchnt_map
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="frchseCd != null" >
        frchse_cd,
      </if>
      <if test="mchntCd != null" >
        mchnt_cd,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="frchseCd != null" >
        #{frchseCd,jdbcType=VARCHAR},
      </if>
      <if test="mchntCd != null" >
        #{mchntCd,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centerm.model.mchnt.FrchseMchntMapInf" >
    update tbl_bkms_frchse_mchnt_map
    <set >
      <if test="frchseCd != null" >
        frchse_cd = #{frchseCd,jdbcType=VARCHAR},
      </if>
      <if test="mchntCd != null" >
        mchnt_cd = #{mchntCd,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centerm.model.mchnt.FrchseMchntMapInf" >
    update tbl_bkms_frchse_mchnt_map
    set frchse_cd = #{frchseCd,jdbcType=VARCHAR},
      mchnt_cd = #{mchntCd,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>