<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centerm.dao.mchnt.MchntAuditInfMapper" >
  <resultMap id="BaseResultMap" type="com.centerm.model.mchnt.MchntAuditInf" >
    <id column="mchnt_cd" property="mchntCd" jdbcType="VARCHAR" />
    <result column="store_photo" property="storePhoto" jdbcType="VARCHAR" />
    <result column="license_front" property="licenseFront" jdbcType="VARCHAR" />
    <result column="license_back" property="licenseBack" jdbcType="VARCHAR" />
    <result column="id_card_front" property="idCardFront" jdbcType="VARCHAR" />
    <result column="id_card_back" property="idCardBack" jdbcType="VARCHAR" />
    <result column="audit_status" property="auditStatus" jdbcType="INTEGER" />
    <result column="audit_role" property="auditRole" jdbcType="VARCHAR" />
    <result column="audit_inf" property="auditInf" jdbcType="VARCHAR" />
    <result column="audit_time" property="auditTime" jdbcType="VARCHAR" />
    <result column="submit_time" property="submitTime" jdbcType="VARCHAR" />
    <association property="mchnt" javaType="com.centerm.model.mchnt.MchntInf">
	    <id column="mchnt_cd" jdbcType="VARCHAR" property="mchntCd" />
	    <result column="mchnt_name" jdbcType="VARCHAR" property="mchntName" />
	    <result column="user_id" jdbcType="VARCHAR" property="userId" />
	    <result column="user_name" jdbcType="VARCHAR" property="userName" />
	    <result column="ID_card" jdbcType="VARCHAR" property="idCard" />
	    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
	    <result column="email" jdbcType="VARCHAR" property="email" />
	    <result column="mchnt_addr" jdbcType="VARCHAR" property="mchntAddr" />
	    <result column="status" jdbcType="INTEGER" property="status" />
	    <result column="in_acct" jdbcType="VARCHAR" property="inAcct" />
	    <result column="alipay_no" jdbcType="VARCHAR" property="alipayNo" />
	    <result column="wechat_no" jdbcType="VARCHAR" property="wechatNo" />
	    <result column="district" jdbcType="VARCHAR" property="district" />
	    <result column="detailed_address" jdbcType="VARCHAR" property="detailedAddress" />
	    <result column="mchnt_logo" property="taste" jdbcType="VARCHAR" />
	    <result column="license" property="license" jdbcType="VARCHAR" />
   		<result column="license_type" property="licenseType" jdbcType="VARCHAR" />
	</association>
  </resultMap>
  <sql id="Base_Column_List" >
    mchnt_cd, store_photo, license_front, license_back, id_card_front, id_card_back, 
    audit_status, audit_role, audit_inf, audit_time, submit_time
  </sql>
  <sql id="Model_Column_List" >
    a.mchnt_cd, a.license_front, a.license_back, a.id_card_front, a.id_card_back, a.audit_status, 
    a.audit_role, a.audit_inf, a.audit_time, a.submit_time, a.store_photo,
    b.mchnt_name, b.user_id, b.user_name, b.ID_card, b.mobile, b.email, b.mchnt_addr,
    b.in_acct, b.alipay_no, b.wechat_no, b.district, b.detailed_address, b.license, b.license_type
  </sql>
  <select id="query" resultMap="BaseResultMap" parameterType="java.util.Map">
	select
	<include refid="Model_Column_List" />
	from tbl_bkms_mchnt_audit_inf a
	inner join tbl_bkms_mchnt_inf b
	on a.mchnt_cd = b.mchnt_cd
	<where>
	<if test="auditStatus != null and auditStatus != '' or auditStatus == 0">
		a.audit_status = #{auditStatus}
	</if>
	</where>
	order by a.submit_time desc
</select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_bkms_mchnt_audit_inf
    where mchnt_cd = #{mchntCd,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_bkms_mchnt_audit_inf
    where mchnt_cd = #{mchntCd,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.centerm.model.mchnt.MchntAuditInf" >
    insert into tbl_bkms_mchnt_audit_inf (mchnt_cd, store_photo, license_front, 
      license_back, id_card_front, id_card_back, 
      audit_status, audit_role, audit_inf, 
      audit_time, submit_time)
    values (#{mchntCd,jdbcType=VARCHAR}, #{storePhoto,jdbcType=VARCHAR}, #{licenseFront,jdbcType=VARCHAR}, 
      #{licenseBack,jdbcType=VARCHAR}, #{idCardFront,jdbcType=VARCHAR}, #{idCardBack,jdbcType=VARCHAR}, 
      #{auditStatus,jdbcType=INTEGER}, #{auditRole,jdbcType=VARCHAR}, #{auditInf,jdbcType=VARCHAR}, 
      #{auditTime,jdbcType=VARCHAR}, #{submitTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.centerm.model.mchnt.MchntAuditInf" >
    insert into tbl_bkms_mchnt_audit_inf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mchntCd != null" >
        mchnt_cd,
      </if>
      <if test="storePhoto != null" >
        store_photo,
      </if>
      <if test="licenseFront != null" >
        license_front,
      </if>
      <if test="licenseBack != null" >
        license_back,
      </if>
      <if test="idCardFront != null" >
        id_card_front,
      </if>
      <if test="idCardBack != null" >
        id_card_back,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="auditRole != null" >
        audit_role,
      </if>
      <if test="auditInf != null" >
        audit_inf,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
      <if test="submitTime != null" >
        submit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mchntCd != null" >
        #{mchntCd,jdbcType=VARCHAR},
      </if>
      <if test="storePhoto != null" >
        #{storePhoto,jdbcType=VARCHAR},
      </if>
      <if test="licenseFront != null" >
        #{licenseFront,jdbcType=VARCHAR},
      </if>
      <if test="licenseBack != null" >
        #{licenseBack,jdbcType=VARCHAR},
      </if>
      <if test="idCardFront != null" >
        #{idCardFront,jdbcType=VARCHAR},
      </if>
      <if test="idCardBack != null" >
        #{idCardBack,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="auditRole != null" >
        #{auditRole,jdbcType=VARCHAR},
      </if>
      <if test="auditInf != null" >
        #{auditInf,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null" >
        #{submitTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centerm.model.mchnt.MchntAuditInf" >
    update tbl_bkms_mchnt_audit_inf
    <set >
      <if test="storePhoto != null" >
        store_photo = #{storePhoto,jdbcType=VARCHAR},
      </if>
      <if test="licenseFront != null" >
        license_front = #{licenseFront,jdbcType=VARCHAR},
      </if>
      <if test="licenseBack != null" >
        license_back = #{licenseBack,jdbcType=VARCHAR},
      </if>
      <if test="idCardFront != null" >
        id_card_front = #{idCardFront,jdbcType=VARCHAR},
      </if>
      <if test="idCardBack != null" >
        id_card_back = #{idCardBack,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=INTEGER},
      </if>
      <if test="auditRole != null" >
        audit_role = #{auditRole,jdbcType=VARCHAR},
      </if>
      <if test="auditInf != null" >
        audit_inf = #{auditInf,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        audit_time = #{auditTime,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null" >
        submit_time = #{submitTime,jdbcType=VARCHAR},
      </if>
    </set>
    where mchnt_cd = #{mchntCd,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centerm.model.mchnt.MchntAuditInf" >
    update tbl_bkms_mchnt_audit_inf
    set store_photo = #{storePhoto,jdbcType=VARCHAR},
      license_front = #{licenseFront,jdbcType=VARCHAR},
      license_back = #{licenseBack,jdbcType=VARCHAR},
      id_card_front = #{idCardFront,jdbcType=VARCHAR},
      id_card_back = #{idCardBack,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=INTEGER},
      audit_role = #{auditRole,jdbcType=VARCHAR},
      audit_inf = #{auditInf,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=VARCHAR},
      submit_time = #{submitTime,jdbcType=VARCHAR}
    where mchnt_cd = #{mchntCd,jdbcType=VARCHAR}
  </update>
</mapper>