<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centerm.dao.mchnt.TerminalBindInfMapper" >
  <resultMap id="BaseResultMap" type="com.centerm.model.mchnt.TerminalBindInf" >
    <id column="terminal_cd" property="terminalCd" jdbcType="VARCHAR" />
    <id column="mchnt_cd" property="mchntCd" jdbcType="VARCHAR" />
    <result column="terminal_sn" property="terminalSn" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    terminal_cd, mchnt_cd, terminal_sn, date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.centerm.model.mchnt.TerminalBindInf" >
    select 
    <include refid="Base_Column_List" />
    from tbl_bkms_terminal_bind_inf
    where terminal_cd = #{terminalCd,jdbcType=VARCHAR}
      and mchnt_cd = #{mchntCd,jdbcType=VARCHAR}
  </select>
  <select id="query" resultMap="BaseResultMap" parameterType="java.util.Map">
	SELECT
	a.terminal_cd, a.mchnt_cd, a.terminal_sn, a.date, b.user_id
	FROM tbl_bkms_terminal_bind_inf a
	JOIN tbl_bkms_mchnt_inf b
	ON a.mchnt_cd = b.mchnt_cd
	<where>
	<if test="terminalSn != null and terminalSn != ''">
		 a.terminal_sn like #{terminalSn}
	</if>
	<if test="date != null and date != ''">
		AND a.date = #{date}
	</if>
	<if test="terminalCd != null and terminalCd != ''">
		AND a.terminal_cd like #{terminalCd}
	</if>
	<if test="mchntCd != null and mchntCd != ''">
		AND a.mchnt_cd like #{mchntCd}
	</if>
	<if test="userId != null and userId != ''">
		AND b.user_id like #{userId}
	</if>
	</where>
	order by a.date desc
</select>
  
  <delete id="deleteByPrimaryKey" parameterType="com.centerm.model.mchnt.TerminalBindInf" >
    delete from tbl_bkms_terminal_bind_inf
    where terminal_cd = #{terminalCd,jdbcType=VARCHAR}
      and mchnt_cd = #{mchntCd,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.centerm.model.mchnt.TerminalBindInf" >
    insert into tbl_bkms_terminal_bind_inf (terminal_cd, mchnt_cd, terminal_sn, 
      date)
    values (#{terminalCd,jdbcType=VARCHAR}, #{mchntCd,jdbcType=VARCHAR}, #{terminalSn,jdbcType=VARCHAR}, 
      #{date,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.centerm.model.mchnt.TerminalBindInf" >
    insert into tbl_bkms_terminal_bind_inf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="terminalCd != null" >
        terminal_cd,
      </if>
      <if test="mchntCd != null" >
        mchnt_cd,
      </if>
      <if test="terminalSn != null" >
        terminal_sn,
      </if>
      <if test="date != null" >
        date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="terminalCd != null" >
        #{terminalCd,jdbcType=VARCHAR},
      </if>
      <if test="mchntCd != null" >
        #{mchntCd,jdbcType=VARCHAR},
      </if>
      <if test="terminalSn != null" >
        #{terminalSn,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centerm.model.mchnt.TerminalBindInf" >
    update tbl_bkms_terminal_bind_inf
    <set >
      <if test="terminalSn != null" >
        terminal_sn = #{terminalSn,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=VARCHAR},
      </if>
    </set>
    where terminal_cd = #{terminalCd,jdbcType=VARCHAR}
      and mchnt_cd = #{mchntCd,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centerm.model.mchnt.TerminalBindInf" >
    update tbl_bkms_terminal_bind_inf
    set terminal_sn = #{terminalSn,jdbcType=VARCHAR},
      date = #{date,jdbcType=VARCHAR}
    where terminal_cd = #{terminalCd,jdbcType=VARCHAR}
      and mchnt_cd = #{mchntCd,jdbcType=VARCHAR}
  </update>
</mapper>